<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PayMyBuddy</title>
</head>
<body>
    <div>
        <h1>Pay My Buddy</h1>
        <nav>
            <a href="#">Transférer</a>
            <a th:href="@{/profil}">Profil</a>
            <a href="#">Ajouter relation</a>
            <a th:href="@{/logout}">Se déconnecter</a>
        </nav>
    </div>
    <div>
        <div th:if="${session.user != null}">
            <p>Username      @<span th:text="${session.user.username}"></span> ></p>
            <p>Mail          <span th:text="${session.user.email}"></span>         ></p>
            <p>Mot de passe  <span th:text="${session.user.password}"></span>      ></p>
        </div>
        <div>
            <button class="btn btn-warning">Modifier</button>
        </div>
    </div>
</body>
</html>