<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PayMyBuddy</title>
</head>
<body>
    <div>
        <p>Bienvenue sur la future page des utilisateur.</p>
        <div th:if="${session.user != null}">
            <p>Utilisateur connecter : <span th:text="${session.user.username}"></span> .</p>
            <p>Votre liste d'ami(e)s : <span th:text="${session.user.connections}"></span> .</p>
        </div>
    </div>
    <div>
        <a th:href="@{/logout}">Se déconnecter</a>
    </div>
</body>
</html>